
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .important{
    font-weight: bold;
    color: #0D92B9;
    text-decoration: none;
  }
  .done{
    text-decoration: line-through;
  }
  .btn-item + .btn-item {
    margin-left: 5px;
  }
}


